<h1>Plots | Getting Started</h1>

<div id="videos">
    <div id="video-sidebar">
        <ul>
            <li class="divider">Manipulating the Plot</li>
            <li data-youtube="dhCbLaLF50g">Panning and Zooming</li>
            <li data-youtube="m7DlmlFVYSQ">Customizing the Axes</li>
            <li class="divider">Saving and Exporting</li>
            <li data-youtube="6Ba5-CNRPGk">Saving Plots for Later Use</li>
            <li data-youtube="hdNTThKrSfg">Exporting Plots</li>
        </ul>
    </div>
    <div id="video-main">
        <div id="video">
            <iframe id="video-player" width="640" height="385" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="note">
            <div data-youtube="dhCbLaLF50g" class="hidden">
                <h4>Panning and Zooming</h4>
            </div>
            <div data-youtube="m7DlmlFVYSQ" class="hidden">
                <h4>Customizing the Axes</h4>
                <p class="addenda">
                </p>
            </div>
            <div data-youtube="6Ba5-CNRPGk" class="hidden">
                <h4>Saving Plots for Later Use</h4>
                <p class="addenda">
                    The plot views are stored in one of your browser's local storage buckets (either as cookies or using the HTM5 local storage functionality).  This means that you must use the <strong>same</strong> browser on the <strong>same</strong> computer to load saved plot views.  It also means that resetting your browser's cookies and/or local storage will destroy your saved plots.
                </p>
            </div>
            <div data-youtube="hdNTThKrSfg" class="hidden">
                <h4>Exporting Plots</h4>
                <p class="addenda">
                    Exporting plots can take a few seconds -- your plot should begin to download as soon as it is ready.
                </p>
            </div>
        </div>
    </div>
</div>

