<h1>Plots | Scatter Plots</h1>

<div id="videos">
    <div id="video-sidebar">
        <ul>
            <li class="divider">Scatter Plots</li>
            <li data-youtube="f7KtkvviAqM">Simple Scatter Plots</li>
            <li data-youtube="hTeNVjX8O-I">Advanced Scatter Plots</li>
            <li data-youtube="EpZRYzYju9w">Adding Colorscales and Markerscales</li>
            <li data-youtube="2XKRTU3tEfY">Applying Filters</li>
        </ul>
    </div>
    <div id="video-main">
        <div id="video">
            <iframe id="video-player" width="640" height="385" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="note">
            <div data-youtube="f7KtkvviAqM" class="hidden">
                <h4>Simple Scatter Plots</h4>
                <p class="addenda">
                    The plotter will automatically modify the axes bounds and labels as you adjust the scatter plot X and Y quantities.  To prevent this from happening, and lock the axes bounds and labels, open up the Configure Axes section and turn on "Fix Axes Labels" and "Fix Axes Limits".
                </p>
                <p class="addenda">
                    Also, the plotter will automatically select log/linear scaling as appropriate.  To override the choice made by the plotter, you can click toggle the "log" checkbox in the Configure Axes section.
                </p>
            </div>
            <div data-youtube="hTeNVjX8O-I" class="hidden">
                <h4>Advanced Scatter Plots</h4>
                <p class="addenda">
                    For additional documentation on the query language, including a list of available functions, a list of all available units, and a number of examples, visit the <a href="../common/filter">Filter Language</a> help page.
                </p>
                <p class="addenda">
                    For a list of all available columns in the Kepler database, visit the <a href="../common/data">Data Columns</a> help page.
                </p>
            </div>
            <div data-youtube="EpZRYzYju9w" class="hidden">
                <h4>Adding Colorscales and Markerscales</h4>
            </div>
            <div data-youtube="2XKRTU3tEfY" class="hidden">
                <h4>Applying Filters</h4>
            </div>
        </div>
    </div>
</div>

